<a href="https://colab.research.google.com/github/bhandariarun/KMC/blob/main/Day2_task.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Write a python program to draw a triangle shape using print statement only.**

In [ ]:
def triangle(height):
    for i in range(height):
        if i == 0:
            print(" " * (height - i - 1) + "*")   #it print a first line with space
        elif i == height - 1:
           print("* " * (height - 1) + "*")  #it draw a last line of the code
        else:
            print(" " * (height - i - 1) + "*" + " " * (2 * i - 1) + "*") # it draws the remaining line of the code


height = int(input("Enter a number:")) #it ask input from user
triangle(height)

Enter a number:6
     *
    * *
   *   *
  *     *
 *       *
* * * * * *

**Python Program to Make a Simple Calculator**

In [ ]:
a = float(input("Enter a first number:"))  #ask first number from user
b = float(input("Enter a second number:")) #ask second number from user
oper = input("Enter the type of operation you want to perform (+, -, *, /, %): ") #ask operator from user
result = 0  #initialize
if oper == "+":   #add condition
    result = a+b
elif oper == "-": #sub condition
    result = a-b
elif oper == "*": #mul condition
    result = a*b
elif oper == "/":
    result = a//b
elif oper == "%":
    result = a%b
else:
    print("Invalid Input")
print("Your answer is: ",result)

Enter a first number:10
Enter a second number:2
Enter the type of operation you want to perform (+, -, *, /, %): +
Your answer is:  12.0

**Create a variable named variable test in snake case format and assign value “my first variable assignment”. Print the result.**

In [ ]:
variable_test = "my first variable assignment"
print(variable_test)

my first variable assignment

**Create a variable named age and assign value as 20. Print the result.**

In [ ]:
age = 20
print(age)

20

**Create a variable called z, assign x + y to it, and Display the result.**
**Initialize,**
**x = 20, y = 30**

In [ ]:
x = 20
y = 30
z = x+y
print(z)

50

**Create three variables x, y, z and assign same value to all 3 variables in** **one code**
**line.**

In [ ]:
x=y=z=3

**Develop basic calculator app for the user:**
**a. Input two numbers from user and assign it to variable num1 and num2**
**b. Perform addition of two numbers and assign to variable result_add**
**c. Display result_add to user.**

In [ ]:
num1 = float(input("Enter a first number:"))
num2 = float(input("Enter a second number:"))
result_add = num1+num2
print(result_add)

Enter a first number:10
Enter a second number:2
12.0