In [1]:
import numpy as np 
import pandas as pd

In [3]:
data = [10,20,30,40,50]
data_series = pd.Series(data)
print(data_series)

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [4]:
print(type(data_series))

<class 'pandas.core.series.Series'>

In [14]:
data1 = {
    10: 'a',
    20: 'b',
    30:'c',
    40:'d'
}
data_series = pd.Series(data1)
print(data_series)

10    a
20    b
30    c
40    d
dtype: object

In [10]:
print(type(data_series))

<class 'pandas.core.series.Series'>

In [11]:
data2 = np.array([10,20,30,40,50])
data_series = pd.Series(data2)
print(data_series)

0    10
1    20
2    30
3    40
4    50
dtype: int32

In [19]:
data_series.shape

(4,)

In [17]:
data2 = np.array({
    10: 'a',
    20: 'b',
    30:'c',
    40:'d'
})
data_series = pd.Series(data1)
print(data_series)

10    a
20    b
30    c
40    d
dtype: object

In [26]:
data_2d = [[10,20],[30,40],[50,60]]    #nested list is also 2d list
data_series = pd.Series(data_2d)
print(data_series)
print(len(data_series))
a = data_2d[1][1]
print(a)

0    [10, 20]
1    [30, 40]
2    [50, 60]
dtype: object
3
40

In [27]:
df_list = pd.DataFrame(data_2d, columns=['col1', 'col2'])
print(df_list)

   col1  col2
0    10    20
1    30    40
2    50    60

In [33]:
dict1 ={
    'Nmae': ['Ram','Gita', 'Hari'],
    'Age': [10,20,30]
}
df_dict = pd.DataFrame(dict1)
print(df_dict)

   Nmae  Age
0   Ram   10
1  Gita   20
2  Hari   30

In [34]:
print(type(df_dict))

<class 'pandas.core.frame.DataFrame'>

In [35]:
print(len(df_dict))

3

In [36]:
dict2 = [
    {'Name':'Ram', 'Age':10},
    {'Name':'Hari', 'Age':20},
    {'Name':'Shyam', 'Age':30},
    
]
df_dict2 = pd.DataFrame(dict2)
print(df_dict2)

    Name  Age
0    Ram   10
1   Hari   20
2  Shyam   30

In [37]:
print(type(df_dict2))

<class 'pandas.core.frame.DataFrame'>

In [38]:
print(len(df_dict2))

3

Data Injection

-It is the process of obtaining and import data for immediate use of storage in a database

-This repositroy includes variety of Dataset, so for now we will ise that as data source.

-There may be scenario where we need to ingest data from google drive as well as for that purpose we can use gdown library

In [44]:
data_path = 'car_details.csv'
dr_hr = pd.read_csv(data_path)
dr_hr.head()
# print(dr_hr)

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner
0,Maruti 800 AC,2007,60000,70000,Petrol,Individual,Manual,First Owner
1,Maruti Wagon R LXI Minor,2007,135000,50000,Petrol,Individual,Manual,First Owner
2,Hyundai Verna 1.6 SX,2012,600000,100000,Diesel,Individual,Manual,First Owner
3,Datsun RediGO T Option,2017,250000,46000,Petrol,Individual,Manual,First Owner
4,Honda Amaze VX i-DTEC,2014,450000,141000,Diesel,Individual,Manual,Second Owner

In [47]:
pip install openpyxl

Requirement already satisfied: openpyxl in c:\users\arun\appdata\local\programs\python\python39\lib\site-packages (3.1.2)
Requirement already satisfied: et-xmlfile in c:\users\arun\appdata\local\programs\python\python39\lib\site-packages (from openpyxl) (1.1.0)
Note: you may need to restart the kernel to use updated packages.

WARNING: Ignoring invalid distribution -jango (c:\users\arun\appdata\local\programs\python\python39\lib\site-packages)
WARNING: Ignoring invalid distribution -jango (c:\users\arun\appdata\local\programs\python\python39\lib\site-packages)

[notice] A new release of pip is available: 23.3.1 -> 24.0
[notice] To update, run: python.exe -m pip install --upgrade pip

In [48]:
import openpyxl

In [54]:
excel_data = pd.OpenyxlWriter('car_details.xlsx')
dr_hr.to_excel(excel_data, index=False)
print(excel_data)
excel_data.save()

AttributeError: module 'pandas' has no attribute 'OpenyxlWriter'